* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2e2e2e;
}

ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    /* border: solid 2px green; */
    border-radius: 10px;
    box-shadow: -2px -2px 2px rgb(0, 0, 0, 1), 3px 3px 8px rgb(0, 0, 0, 1);
}

ul li {
    list-style: none;
    text-align: center;
    margin: 15px;
}

ul li label {
    position: relative;
}

ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

ul li label .icon-box {
    width: 60px;
    height: 60px;
    background: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -2px -2px 2px rgb(0, 0, 0, 1), 3px 3px 8px rgb(0, 0, 0, 1);
}

ul li label .icon-box i {
    font-size: 30px;
    color: #757575;
}

ul li label input[type="checkbox"]:checked~.icon-box {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 4.00), -3px -3px 10px rgba(255, 255, 255, 4.00);
    border: solid 3px rgba(255, 255, 255, 4.00);
}

ul li label input[type="checkbox"]:checked~.icon-box i {
    transform: scale(0.95);
    color: rgba(255, 255, 255, 4.00);
}